<div class="waterfall-item">
    <article class="article-card archive-article">
        <h3 class="archive-separator"><%=name%></h3>
        <h3 class="post-title" itemprop="name">
            <a class="post-title-link" href="<%- url_for(href) %>" target="_blank"
               itemprop="url">查看所有<%=postCount%>篇文章</a>
        </h3>
    </article>
</div>
